@use "./partialScss/variables" as var;
@use "_flex" as style;

.card_container {
  @include style.flex_arrangement;
  height: var.$full_height;
  perspective: var.$perspective_val;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.card {
  width: 300px;
  height: 500px;
  transition-property: transform;
  transition-duration: 1s;
  transform-style: preserve-3d;
  border-radius: 10px;
}

.card:hover {
  transform: rotateY(180deg);
}

.front_face,
.back_face {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  position: absolute;
  backface-visibility: hidden;
}

.front_face {
  // animation-name: imageChange;
  // animation-duration: 25000ms;
  // animation-iteration-count: infinite;
  // animation-direction: normal;
  // animation-delay: 2s;
  background-image: url("../assets/waterfall.jpg");
  background-size: cover;
}

.back_face {
  @include style.flex_arrangement;
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  color: whitesmoke;
  flex-direction: column;
  border: 2px solid white;
}

.content {
  margin: 10px;
  text-align: center;
}

.heading {
  font-size: x-large;
  font-weight: bold;
  margin: 10px;
}

.subheading {
  font-size: medium;
  font-weight: 500;
  margin: 6px;
}

.description {
  text-align: left;
  margin: 20px 10px;
}

// @keyframes imageChange {
//   0%, 100% {
//     background-image: url("../assets/waterfall.jpg");
//   }

//   20% {
//     background-image: url("../assets/citylights1.jpg");
//   }

//   40% {
//     background-image: url("../assets/citylights2.jpg");
//   }

//   60% {
//     background-image: url("../assets/lightspeed.jpg");
//   }

//   80% {
//     background-image: url("../assets/universe.jpg");
//   }
// }
